@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    :root {
        --color-bg: #040C18;
    }
}

@layer components {
    .gradient-bg {
        background: radial-gradient(circle at 3% 25% , rgba(0, 40, 83 ,1) 0%, rgba(4,12,24,1) 100%);
    }

    .mobile_lg {
        @apply flex-[0] scale-0 overflow-hidden absolute lg:static lg:scale-100 lg:flex-[2.5] duration-300 transition-all ease-in-out
    }

    .nav_menu_links {
        @apply text-white font-[Manrope] font-semibold text-lg capitalize leading-6 my-0 mx-[1rem] cursor-pointer
    }

    .gradient_text {
        @apply bg-textGradient bg-clip-text text-transparent
    }

    .text_bar {
        @apply after:absolute after:h-[3px] after:w-12 after:bg-barGradient after:-top-2 after:left-0 after:shadow-lg
    }

    .blogArticle {
        @apply w-[100%] h-[100%] rounded-lg overflow-hidden bg-footerColor flex flex-col
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
    overflow-x: hidden;
    overflow-y: auto;
}

h1,h2,h3,h4,h5,h6,p {
    font-family: Manrope , sans-serif;
}

a {
    color: unset;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#root {
    transform: none !important;
}

.scrollerHides {
    transform: scale(0) translateX(100vw);
    opacity: 0;
    transition: transform 1s ease , opacity 1s ease;
    transition-delay: 100ms;
}

.scrollerShows {
    transform: scale(1) translateX(0px);
    opacity: 1;
    transition: transform 1s ease , opacity 1s ease;
    transition-delay: 100ms;
}

.blogArticle > div:nth-child(2)::-webkit-scrollbar {
    display: none;
}